.button {
  background-color: #5c5c5c;
  display: inline-block;
  border-radius: 3px;
  padding: 10px 22px 7px;
  text-decoration: none;
  color: #fff;

  &--red {
    background:$footer-color;
    transition: 0.3s;

    &:hover {
      background: lighten($header-color, 17%);
    }
  }

  &--yellow {
    background: $btn-main;

    &:hover {
      background: lighten($header-color, 7%);
    }
  }

  &--text-uppercase {
    text-transform: uppercase;
  }
}