.icon {
  margin: auto auto 23px auto;

}

.icon-like {
  //@include sprite($like);
  margin-left: 40%;
  color: #1287bf;
}

.icon-book {
  //@include sprite($book);
  margin-left: 40%;
  color: #de2b24;
}

.icon-message {
  //@include sprite($message);
  margin-left: 40%;
  color: #f8cd53;
}