.icon {
  margin: auto auto 23px auto;

}

.icon-like {
  @include sprite($like);
  margin-left: 40%;
  color: #2a2a2a;
}

.icon-book {
  @include sprite($book);
  margin-left: 40%;
  color: #2a2a2a;
}

.icon-message {
  @include sprite($message);
  margin-left: 40%;
  color: #2a2a2a;
}