//Fonts

$ff-main: 'helvetica-neue-regular';
$ff-main-bold: 'helvetica-neue-bold';
$ff-main-light: 'helvetica-neue-light';
$ff-steps:'georgia-bold';

//Colors
$main-color: #c2dde6;
$f-color: #e6e9f0;
$footer-color: #431c5d;
$header-color: #e05915;
$btn-main: #cdd422;
$btn-small:#bccbde;