section.hero__about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .title__text We are added our majir Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy text of the pricing and typesetting industry.

            li.about__item
                .icon.icon-book
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy text of the pricing and typesetting industry.

            li.about__item
                .icon.icon-message
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy text of the pricing and typesetting industry.