section.hero__about
    .container
        .title.title--with-bottom-line
            h2.title.title__header MASKs
            .title__text Dr.Jart+

        ul.about__list
            li.about__item
                img.img__mask-1(src="../images/mask-1.png" alt="mask-1")
                //h3.about__header Dermaclear T-f Clay

            li.about__item
                img.img__mask-2(src="../images/mask-2.png" alt="mask-2")
                //h3.about__header Dermask

            li.about__item
                img.img__mask-3(src="../images/mask-3.png" alt="mask-3")
                //h3.about__header Rubber Mask

            li.about__item
                img.img__mask-3(src="../images/mask-4.png" alt="mask-4")
                //h3.about__header Hydrogel Mask