section.hero__about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .title__text We are added our majir Services

        ul.about__list
            li.about__item

                i.fa.fa-thumbs-o-up.icon.icon-like(aria-hidden="true")
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy

            li.about__item
                i.fa.fa-comments-o.icon.icon-book(aria-hidden="true")
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy

            li.about__item
                i.fa.fa-book.icon.icon-message(aria-hidden="true")
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy