section.approach
    .container
        .title.title--with-bottom-line
            h2.title__header HOW IT USE
            .title__text YOU NEED TO KNOW

        ul.approach__list

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title  : Prepare your skin.
                    p.approach__description.
                        Clean your skin. Apply toner.Toner deep cleanses your skin and preps your skin to absorb the next step.
                        If you don’t own toner, don’t worry – your skin will still reap the benefits
                        of the face mask.

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title  : Tear open the pouch at the top and pull out the mask.
                    p.approach__description.
                        Be mindful of how soaked the mask will be and have a towel handy to wipe up
                        the drips. Unfold the mask and place it on your face, aligning the holes with
                        your eyes, nose and mouth. Use the excess essence in the pouch and the mask
                        to apply on your neck, shoulders and hands. Those essences are good for your
                        skin so don’t let any go to waste!

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title  : Mask takes effect.
                    p.approach__description.
                        Take a power nap, read a book or just zone out for about 20-30 minutes with
                        the mask. It’s up to you if you want to go longer or shorter.
                        When you are ready, just peel off the mask and discard. Look at your skin
                        in the mirror. It should look brighter and slightly more plump due to the
                        moisture it just absorbed. Also, touch your skin. It should feel velvety smooth.

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title  : Mask in action.
                    p.approach__description.
                        There is no reason for you to wash off the essences because it is good for
                        your skin! You can either fall asleep knowing you gave your skin a real
                        treat or if you are heading out for the day, remember to add a layer of
                        sun protection.

        .title__text--bottom Ready for a little self-care with sheet masks? These are the best all-natural options to buy.