section.approach
    .container
        .title.title--with-bottom-line
            h2.title__header HOW IT USE
            .title__text YOU NEED TO KNOW

        ul.approach__list

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 1 : Prepare your skin.
                    p.approach__description.
                        Clean your skin. Apply toner.Toner deep cleanses your skin and preps your skin to absorb the next step.
                        If you don’t own toner, don’t worry – your skin will still reap the benefits
                        of the face mask.

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 2 : Tear open the pouch at the top and pull out the mask.
                    p.approach__description.
                        Be mindful of how soaked the mask will be and have a towel handy to wipe up
                        the drips. Unfold the mask and place it on your face, aligning the holes with
                        your eyes, nose and mouth. Use the excess essence in the pouch and the mask
                        to apply on your neck, shoulders and hands. Those essences are good for your
                        skin so don’t let any go to waste!

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 3 : Set a 20 minute time limit.
                    p.approach__description.
                        With other face masks, you might try to keep them on for as long as possible
                        so you can really see the effects. That’s not necessary with sheet masks.
                        Don’t sleep in it,” advises Cho. “If you keep the sheet mask on your face
                        after it becomes dry, it starts to have the opposite effect and will draw
                        moisture away from your skin.

            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 4 : Skip the post-mask products.
                    p.approach__description.
                        Some sheet masks are very thick, while others are watery and absorb quickly
                        into your skin,” says Cho. “If it’s watery and your skin gets dry throughout
                        the night, then I recommend putting on a moisturizer on [your skin] afterwards.
                        But if the mask is very thick, it’ll feel like a lotion on your skin after you
                        remove it—and you can just rub [the mask liquid] in without supplementing with
                        another moisturizer.

        .title__text--bottom Ready for a little self-care with sheet masks? These are the best all-natural options to buy.