.contacts
    a.contact(href="tel:+380734194600")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 0734194600

    a.contact(href="mailto:info@gmail.com")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text info@gmail.com


    a.contact(href="facebook.com")
        i.fa.fa-facebook.facebook-icon(aria-hidden="true")