section.form-section
    .container
        .title
            h2.title.title__header Get more information
            .title__text Enter your details below

    .btn-down: a.arrow-down: i.fa.fa-angle-down

    .form-container
        form(method="post" action="#").form
            button(type="button").form__close-button x
            .form__text.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aperiam atque deleniti exercitationem impedit nulla praesentium
                quae quam unde voluptatibus? Distinctio, dolorem eaque harum quaerat
                tempore voluptatibus? Error facere saepe sequi!

            .form__fields
                input.form__input(type="text" placeholder="Your name")
                input.form__input(type="tel" placeholder="Contact number")
                input.form__input(type="email" placeholder="Your email")

            button(type="submit").button.button--text-uppercase.button--red Submit now
