.section.work
    .container
        .title.title--with-bottom-line
            h2.title__header TYPES OF KOREAN FACE MASKS
            .title__text YOU SHOULD KNOW


        ul.work__list
            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name The sheet mask
                .work__description Facebook marketing

            li.work_item: img.work__picture(src="images/work-1.jpg" alt="picture")


            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Charcoal Mask
                .work__description Facebook marketing

            li.work_item: img.work__picture(src="images/work-2.jpg" alt="picture")

            li.work_item: img.work__picture(src="images/work-3.jpg" alt="picture")

            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Rubber Masks
                .work__description Facebook marketing

            li.work_item: img.work__picture(src="images/work-4.jpg" alt="picture")

            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Hydrogel Mask
                .work__description Facebook marketing

