.section.work
    .container
        .title.title--with-bottom-line
            h2.title__header Our Work
            .title__text We are added our featured Services


        ul.work__list
            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Project Name
                .work__description Facebook marketing

            li.work_item: img.work__picture(src="images/work-1.jpg" alt="picture")

            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Project Name
                .work__description Facebook marketing

            li.work_item: img.work__picture(src="images/work-2.jpg" alt="picture")

            li.work_item: img.work__picture(src="images/work-3.jpg" alt="picture")

            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Project Name
                .work__description Facebook marketing

            li.work_item: img.work__picture(src="images/work-4.jpg" alt="picture")

            li.work_item.work__item--name
                //i.fa.fa-cogs(aria-hidden="true")
                .work__name Project Name
                .work__description Facebook marketing

